<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--10.135.6.19, 10.1.240.39-->
    <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://${db.ip}/CTCloud?zeroDateTimeBehavior=convertToNull"
          p:connectionProperties="useUnicode=yes;characterEncoding=utf8;"
          p:username="ctdb"
          p:testOnBorrow="true"
          p:validationQuery="select 1"
          p:password="SSDD5512"/>

    <!-- more bean definitions for data access objects go here -->

</beans>
